//Colors

$primary-color:     black;
$secondary-color:   black;
$tertiary-color:    black;
$black-color:       #202124;
$success-color:     black;
$warning-color:     #ffad2a;
$danger-color:      #fa2c3d;

$blue-color:        #2199e9;


//Font
$main-family: 'Montserrat', sans-serif;

//Transitions
$transition-01: 0.1s all ease-in-out;
$transition-02: 0.2s all ease-in-out;